[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_URL = "cinebook-6ys5-t4me5ods4-aflahs-projects-f84feba8.vercel.app"
  VITE_SKIP_RAZORPAY = "false"
  VITE_FORCE_MOCK_PAYMENT = "false"

[context.deploy-preview.environment]
  VITE_API_URL = "http://localhost:8000"
  VITE_SKIP_RAZORPAY = "true"
  VITE_FORCE_MOCK_PAYMENT = "true"